div.ttt-box {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  float: left;
  margin: 0;
  text-align: center;
  line-height: 100px;
  font-size: 4em;

}

#top-left, #middle-left, #bottom-left {
  clear: both;
}

.x {
  background-color: blue;
}

.o {
  background-color: orange;
}
